* {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6 {
  padding-left: 250px;
  padding-right: 250px;
  font-family: Roboto;
}

    /*First part*/
.container1 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flag {
    display: flex;
    max-width: 35px;
    max-height: auto;
    margin-top: 10px;
}

.headerr1{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;


}
    /*Second part*/

.container2 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}
  
.left2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #E5E7EB;
    margin-bottom: 40px;
    margin-top: 40px;
}

.textl1 {
    display: flex;
    font-size: 48px;
    font-weight: 800;
    text-align: left;
}
.textl2 {
    font-size: 18px;
    text-align: left;

}
a.bleft {
    max-width: 100px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: none;   
}


.right2 {
    display: flex;
    justify-items: flex-end;
    margin-bottom: 40px;
    margin-top: 40px;
}
.mainimg {
    max-width: 400px;
    max-height: auto;
    border-radius: 5px;
}

    /*Third part*/

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    justify-items: center;
}
  
.textcenter3 {
    display: flex;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
.imagesp3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
    margin-bottom: 50px;
}
.image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin: 20px;
}

img {
    display: flex;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.van1, .child2, .toy3, .castanada4 {
    border: 5px solid #3882F6;
    border-radius: 5px;
}

div {
    text-align: center;
    color: solid #1F2937;
    font-style: italic;
}
  
    /*Fourth part*/

.container4 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    min-height: 350px;
}
.cit1 {
    display: flex;
    text-align: start;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    
}

.cit2 {
    display: flex;
    align-self: flex-end;
    color: #1F2937;
    font-weight: 900;
    font-size: 24px;
}

    /*Fith part*/
.container5 {
    display: flex;
    flex-direction: column;
}
      
.colorcontainer5 {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 5px;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}
      
.left5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
      
.subscribe1 {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 800;
}
      
.subscribe2 {
    color: #E5E7EB;
    font-size: 16px;
}
      
.right5 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
      
a.bbot {
    display: flex;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    font-size: 16px;
    align-self: center;
    margin-left: 20px;
}
      
    /* Footer */

.container6 {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 14px;
}
