* {
    margin: 0;
    padding: 0;
}
    /*First part*/
.container1 {
    display: flex;
    justify-content: space-between;
}

.flag {
    display: flex;
    max-width: 30px;
}

    /*Second part*/

.container2 {
    display: flex;
    justify-content: space-between;
}
  
.left2 {
    flex: 1;
}

.mainimg {
    max-width: 400px;
    height: auto;
}

    /*Third part*/

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.textcenter3 {
    text-align: center;
  }
  
.imagesp3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}
  
img {
    max-width: 200px;
    height: auto;
}
  
div {
    text-align: center;
}
  
    /*Fourth part*/

.container4 {

}
.cit1 {

}

.cit2 {

}

    /*Fith part*/

.container5{
    
}

.left5 {

}

.subscribe1{

}

.subscribe2{

}

.right5 {

}
